name: CI-CD

on:
  push:
    branches:
      - main

jobs:

  train-model:
    runs-on: ubuntu-latest
    if: contains(toJson(github.event.commits.*.modified), 'model/')

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install scikit-learn joblib numpy mlflow

      - name: Train and register model
        run: |
          python model/train.py

  deploy-app:
    runs-on: ubuntu-latest
    if: contains(toJson(github.event.commits.*.modified), 'app/')

    steps:
      - uses: actions/checkout@v4

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build image
        run: |
          docker build -t lauradiazmondejar/mlops-api:latest ./app

      - name: Push image
        run: |
          docker push lauradiazmondejar/mlops-api:latest
